* {
    margin: 0;
    /* padding: 0; */
}

:root {
    --background-color: linear-gradient(to right,
            #6366F1 0%,
            #06B6D4 100%);
}
body{
    background-color: #0B0F19;
}

header nav,
ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    border: 0.5px solid rgba(128, 128, 128, 0.195);
    border-radius: 40px;
    margin: 1.5vw 4vw 2vw 4vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    font-family: 'Inter';
    background-color: #111827;
}

nav .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 700;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    color: white;
    background:var(--background-color);
}

.avaibility ul {
    /* border: 0.5px solid rgb(4, 238, 4); */
    outline: 0.1px solid #10b98176;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2px 8px 2px 25px;
    /* margin-right: 220px; */
    font-size: 10px;
    color: #10B981;
    font-weight: bold;
    background-color: rgba(1, 49, 14, 0.149);
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav_links li a {
    text-decoration: none;
    font-size: 1rem;
    color: grey;
    font-weight: 400;
}

.nav_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.toggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 22px;
    width: 32px;
    transition: transform 5ms ease-out 1ms;
}

.toggle:active {
    transform: scale(1.1);

}

.toggle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact {
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    transition: transform 5ms ease-out 1ms;
    background: var(--background-color);
}

.contact:active {
    transform: scale(1.01);
}

.contact a {
    color: white;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    font-weight: semi-bold;
    background-color: linear-gradient(to right,
            red 10%,
            orange 20%,
            yellow 30%);
}