* {
    margin: 0;
    /* padding: 0; */
}

:root {
    --background-color: linear-gradient(to right,
            #6366F1 0%,
            #06B6D4 100%);
    --border-color: rgba(128, 128, 128, 0.195);
}

body {
    background-color: #0B0F19;
    color: white;
}

header nav,
ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    border: 1px solid var(--border-color);
    border-radius: 40px;
    margin: 1.5vw 4vw 2vw 4vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    font-family: 'Inter';
    background-color: #111827;
}

nav .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 700;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    color: white;
    background: var(--background-color);
    margin-left: 8px;
}

.avaibility ul {
    /* border: 0.5px solid rgb(4, 238, 4); */
    outline: 0.1px solid #10b98176;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px 2px 22px;
    /* margin-right: 220px; */
    font-size: 10px;
    color: #10B981;
    font-weight: bold;
    background-color: rgba(1, 49, 14, 0.149);
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav_links li a {
    text-decoration: none;
    font-size: 1rem;
    color: grey;
    font-weight: 400;
}

.nav_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.toggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 22px;
    width: 32px;
    transition: transform 5ms ease-out 1ms;
}

.toggle:active {
    transform: scale(1.1);
    /* transform: rotate(45deg); */

}

.toggle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact {
    border: none;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    transition: transform 50ms ease-out 1ms;
    background: var(--background-color);
    margin-right: 8px;
}

.contact:active {
    transform: scale(1.01);
}

.contact a {
    color: white;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    font-weight: semi-bold;
    background-color: linear-gradient(to right,
            red 10%,
            orange 20%,
            yellow 30%);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: 7vw 4vw 7vw 4vw;
}

.intro {
    width: 45vw;
}

.hero .intro h4 {
    font-family: 'Inter';
    font-weight: semi-bold;
    font-size: 13px;
    color: #6366F1;
    margin-bottom: 2rem;
}

.hero .intro h1 {
    font-family: 'Outfit';
    font-weight: extra-bold;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.hero .intro p {
    font-family: 'Inter';
    font: size 18px;
    color: #9CA3AF;
    margin-bottom: 2rem;
}

.work_github {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: semi-bold;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    background: var(--background-color);
    color: white;
    border: none;
    border-radius: 0.3rem;
    transition: transform 200ms ease-out 1ms;
    cursor: pointer;
}

.work img {
    height: 1rem;
    width: 1rem;
}

.work:active {
    transform: scale(1.03);
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: semi-bold;
    color: white;
    background-color: #111827;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1.1rem 0.5rem 1.1rem;
    transition: transform 200ms ease-out 1ms;
    cursor: pointer;
}

.github img {
    height: 1rem;
    width: 1rem;
}

.github:active {
    transform: scale(1.03);
}

.mac_disp {
    border: 1px solid var(--border-color);
    height: 67vh;
    width: 40vw;
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #1F2937;
}

.nav .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.nav .dots .dot1,
.dot2,
.dot3 {
    height: 10px;
    width: 10px;
    border-radius: 100%;

}

.dot1 {
    background-color: #EF4444;
}

.dot2 {
    background-color: #F59E0B;
}

.dot3 {
    background-color: #10B981;
}

.file_name {
    font-family: 'Inter';
    font-size: 0.75rem;
    font-weight: regular;
    color: #9CA3AF;
}

.nav .cpy_btn {
    height: 2rem;
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 100ms ease-out 1ms;
}

.nav .cpy_btn:active {
    transform: scale(1.03);
}

.nav .cpy_btn img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.mac_disp ol {
    font-family: 'jetbrains mono';
    font-size: 0.75rem;
    color: #374151;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.mac_disp ol .line {
    font-family: 'jetbrains mono';
    font-size: 0.75rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.15rem;
    padding-left: 10px;
}

.line1,
.line2,
.line3 {
    color: #9333EA;
}

.line4 {
    color: #06B6D4;
}

.line5 {
    color: #6366F1;
}

.line6 {
    color: #9CA3AF;
}

.line7,
.line8 {
    color: #6366F1;
}

.line9 {
    color: #06B6D4;
}

.line10,
.line11,
.line12 {
    color: #10B981;
}

.line13,
.line14 {
    color: #06B6D4;
}

.mac_disp ol li::marker {
    color: #374151;
}